---
import Layout from "../layouts/Layout.astro";
import { UserList } from "../components/UserList.jsx";
---

<Layout title="Lista de tareas">
  <main>
    <UserList client:load/>
  </main>
</Layout>
